/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 /*
    WIDTH HELPERS
 */

 .admin-width-50p{
     width:50% !important;
 }

 .admin-width-33p{
    width:33.33% !important;
 }

 .admin-width-25p{
   width:24.5% !important;
}


 /*
    COMMON
 */
 .flex-unset{
    flex:unset !important;    
 }